<link rel="shortcut icon" href="/assets/img/logo/favicon.svg" type="image/svg+xml">
<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
<link rel="stylesheet" href="/assets/css/fontawesome.css">
<link rel="stylesheet" href="/assets/css/magnific-popup.css">
<link rel="stylesheet" href="/assets/css/nice-select.css">
<link rel="stylesheet" href="/assets/css/slick-slider.css">
<link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
<link rel="stylesheet" href="/assets/css/aos.css">
<link rel="stylesheet" href="/assets/css/mobile-menu.css">
<link rel="stylesheet" href="/assets/css/main.css">
<link rel="stylesheet" href="/assets/css/modal.css">

<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-ML6QZ6RB');</script>


<script src="/assets/js/jquery-3-7-1.min.js"></script>
<script src="/assets/js/azinsights.js"></script>
<script src="/assets/js/modal.js"></script>
<!--<script async src="https://www.googletagmanager.com/gtag/js?id=G-S31ZKVXHBF"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-S31ZKVXHBF');
</script>-->
<script id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="7a1efc68-8402-47d4-8296-6a7f7c3409d5" data-blockingmode="auto" type="text/javascript" async></script>
<style type="text/css">
    #CybotCookiebotDialogPoweredbyCybot {
        visibility: hidden;
    }
    #CookiebotWidget .CookiebotWidget-body .CookiebotWidget-main-logo {
        display: none !important;
    }
</style>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-QJ18YK67B4"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-QJ18YK67B4');
</script>
