<div class="sidebar-box-area sidebar-bg mb-40">
  <h3>Our Services</h3>
  <ul class="features-list">
    <li><a href="/platform/overview/discover-the-platform">Robotic Process Automation <span><i class="fa-regular fa-angle-right"></i></span></a></li>
    <li><a href="/solutions/web-scraping/web-data-scraping-services">Web Scraping <span><i class="fa-regular fa-angle-right"></i></span></a></li>
    <li><a href="/platform/overview/ai-agents">AI Agents <span><i class="fa-regular fa-angle-right"></i></span></a></li>
    <li><a href="/solutions/development/software-development">Software Development <span><i class="fa-regular fa-angle-right"></i></span></a></li>
    <li><a href="/platform/resources/hyperautomation-ai">Software Robots <span><i class="fa-regular fa-angle-right"></i></span></a></li>
    <li><a href="/platform/resources/generative-ai-impact">Artificial Intelligence <span><i class="fa-regular fa-angle-right"></i></span></a></li>
  </ul>
</div>
